h1{
    text-align: left;
    margin-left: 20px;
}
h4{
    text-align: left;
    margin-left: 20px;
    color: blueviolet;
}
p{
    text-align: left;
    margin-left: 20px;  
}
.details-style{
    background-color: white;
    width: 72%;
}
/* .details-img{
    width: 25%;
} */